* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #ffffff;
  --background-color-header: #2f303a;
  --background-color-team: #f5f4fa;
  --color-text-first: #212121;
  --color-text-second: #757575;
  --color-text-third: #ffffff;
  --color-link-first: #2196f3;
  --color-link-second: #000000;
  --color-helper-text: #8e8f99;
  --border-color: #ececec;
  --border-color-2: #eeeeee;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --font-primary: Roboto, sans-serif;
  --font-secondary: Raleway, sans-serif;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--font-primary);
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style: none;
}

.menu-links-web {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 25px;
  padding: 60px 0;
  color: var(--color-link-first);
}

.menu-links-studio {
  letter-spacing: 0.02em;
  color: var(--color-link-second);
}
.menu-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-first);
}
.menu-links:focus,
.menu-links:hover {
  color: var(--color-link-first);
}

.menu-links-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text-second);
}
.menu-links-mail:focus,
.menu-links-mail:hover {
  color: var(--color-link-first);
}
.menu-links-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text-second);
}
.menu-links-phone:focus,
.menu-links-phone:hover {
  color: var(--color-link-first);
}
.header-main {
  background: var(--background-color-header);
  height: 600px;
  margin: 0px;
  text-align: center;
  padding: 200px 0;
}
.team-section-background {
  background: var(--background-color-team);
}
.header-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--color-text-third);
}
.button-studio {
  background: var(--color-link-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 42px;
  font-family: var(--font-primary);
  color: var(--color-text-third);
  cursor: pointer;
  text-align: center;
}
.button-studio-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: var(--font-primary);
  color: var(--color-text-third);
  cursor: pointer;
  text-align: center;
}

.lorem-section {
  background-color: var(--background-color);
  padding-bottom: 0px;
  margin: 0px;
  justify-content: space-between;
  gap: 30px;
}
.lorem-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.lorem-ipsum {
  width: 270px;
}
h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text-first);
  letter-spacing: 0.03em;
}
.lorem-ipsum-text {
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text-second);
  letter-spacing: 0.03em;
}
.header-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-text-first);
}
.header-h3 {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text-first);
}
.team-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--color-text-second);
}
.footer {
  background: var(--background-color-header);
}
.footer-links-web {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-first);
}
.footer-links-studio {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--color-text-third);
}
.footer-links-address {
  font-weight: 400;

  line-height: 1.71;

  color: var(--color-text-third);
}
.footer-links-address:focus,
.footer-links-mail {
  font-weight: 400;

  line-height: 1.71;

  color: var(--footer-text-color);
}
.footer-links-mail:focus,
.footer-links-phone {
  font-weight: 400;

  line-height: 1.71;

  color: var(--footer-text-color);
}

/*style dla portfolio*/

.portfolio-title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-first);
}
.portfolio-text {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-second);
}
.button-portfolio {
  background: var(--background-color-team);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-portfolio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: var(--font-primary);
  color: var(--color-text-first);
  cursor: pointer;
}
.button-portfolio:focus,
.button-portfolio:hover {
  background: var(--color-link-first);
  color: var(--color-text-third);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Style do układania*/

.container {
  padding: 0 15px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px;
  border-color: var(--border-color);
}
.nav {
  width: 254px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 30%;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 46px;
}
.contact-links {
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 50px;
  margin-left: 371px;
  color: var(--color-text-second);
  justify-content: space-between;
  align-items: center;
}
